.artist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 2.2rem;
      color: rgb(247, 80, 150);
    }

    h3 {
      font-size: 1.75rem;
      margin: 0;
    }
  }

  .link {
    text-decoration: none;
    color: #9e9b9b;
    display: flex;
    align-items: center;
    font-size: 1rem;

    i {
      font-size: 1.75rem;
    }
  }
}

.artist-banner {
  width: 100%;
  img {
    width: 100%;
  }
}

.artist-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 5px;

  .artist-details-img {
    background: url(../../images/bg.png);
    position: relative;
    cursor: pointer;
  }
}
